---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?intitle=&key=<google_books_api_key>&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "Missing query.",
            "errors": [
              {
                "message": "Missing query.",
                "domain": "global",
                "reason": "queryRequired",
                "location": "q",
                "locationType": "parameter"
              }
            ]
          }
        }
  recorded_at: Tue, 14 Feb 2023 22:02:57 GMT
recorded_with: VCR 6.1.0
